:{{ port }}
root * {{ ninja_root }}/projects

php_fastcgi localhost:9000

handle_path /templates/* {
	root * {{ root }}/templates
	file_server
}

file_server {
	browse {{ root }}/templates/listing.html
}

log {
	output file {{ root }}/logs/access.log
	format console
}
