:{{ port }}

root * {{ path(root=ninja_root, path="projects", sep="/") }}

@php {
    path *.php
}

php_fastcgi @php localhost:{{ php_port }}


handle_path /templates/* {
	
	root * {{ path(root=root, path="templates", sep="/") }}
	file_server
}

file_server { 
	browse "{{ path(root=root, path="templates/index.html", sep="/") }}"
}

log {
	output file {{ path(root=root, path="logs/access.log", sep="/") }}	
	format console
}